@model PizzaEntities.Pizza

@{
    ViewData["Title"] = "Create";
}

    <div id="formDiv">

        <h4>Pizza</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <!--<form>-->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="id" class="control-label"></label>*@
                    <input hidden asp-for="id" class="form-control" value="@ViewData["id"]" />
                    <span asp-validation-for="id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="OrderId" class="control-label"></label>*@
                    <input hidden asp-for="OrderId" class="form-control" value="@ViewData["OrderId"]" />
                    <span asp-validation-for="OrderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="size" class="control-label"></label>
                    @*<input asp-for="size" class="form-control" />*@
                    <select asp-for="size" id="size" class="form-control">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                    <span asp-validation-for="size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sauce" class="control-label"></label>
                    @* <input asp-for="sauce" class="form-control" />*@
                    <select asp-for="sauce" id="sauce" class="form-control">
                        <option value="tomato">Tomato</option>
                        <option value="barbecue">Barbecue</option>
                        <option value="buffalo">Buffalo</option>
                    </select>
                    <span asp-validation-for="sauce" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="crust" class="control-label"></label>
                    @*<input asp-for="crust" class="form-control" />*@
                    <select asp-for="crust" id="crust" class="form-control">
                        <option value="regular">Regular</option>
                        <option value="pan">Pan</option>
                        <option value="deepdish">Deep Dish</option>
                    </select>
                    <span asp-validation-for="crust" class="text-danger"></span>
                </div>
                <div id="toppings">

                </div>
                <div class="form-group">
                    <input id="btnCreatePizza" type="submit" value="Create" class="btn btn-danger" />
                </div>
                <!--</form>-->
            </div>
        </div>
    </div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $("document").ready(getToppings())

    function getToppings() {
        var url = "@ViewData["url"]";
        var toppingResult = $('#toppings');
        toppingResult.empty();
        $.ajax({
            contentType: 'application/json',
            type: "GET",
            url: url+"api/toppings",
            success: function (data) {
                console.log(data)
                $.each(data, function (index, val) {
                    var input = $("<input>");
                    input.attr("type", "checkbox");
                    input.attr("id", val.name);
                    input.attr("name", "toppings");
                    input.attr("value", val.id);
                    input.attr("class", "chkBoxTopping");
                    input.attr("checked", false);

                    var label = $("<label>");
                    label.attr("for", val.name);
                    label.html(`${val.name} $${val.price.toFixed(2)}`);

                    toppingResult.append(input);
                    toppingResult.append(label);
                    toppingResult.append("<br>");
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown)
            }
        });
    };


    function createPizza() {

        event.preventDefault();

        
        var ls = window['localStorage'];

        var url = "@ViewData["url"]" + "api/pizzas/";
        var id = "@ViewData["id"]";
        var OrderId = ls.getItem("OrderId");
        var order = JSON.stringify({
            id: id,
            OrderId: OrderId,
            size: $("#size").val(),
            crust: $("#crust").val(),
            sauce: $("#sauce").val()
        })
            console.log(order)

        $.ajax({
            contentType: 'application/json',
            type: "POST",
            url: url,
            data: order,
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                console.log(textStatus)
                console.log(jqXHR)

                createToppings(data.id);


        

                //window.location.href = "https://localhost:61251/Pizzas/Create" 
                window.location.href = '@Url.Action("Create", "Pizzas")';

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown)
            }
        });

    }

    function createToppings(pId) {
        let toppingsList = [];

        $('.chkBoxTopping').each(function () {
            if ($(this).prop('checked')) {

                let url = "@ViewData["url"]" + "api/pizzatoppings/";
                let id = Math.floor(Math.random()*1000000);
                let pizzaId = pId;
                let pizzaTopping = JSON.stringify({
                    id: id,
                    pizzaId: pizzaId,
                    ToppingId: $(this).attr('value')
                })

                //console.log(pizzaTopping)
                //console.log($(this).attr('value'));
                //console.log($(this).attr('id'));

                $.ajax({
                    contentType: 'application/json',
                    type: "POST",
                    url: url,
                    data: pizzaTopping,
                    success: function (data, textStatus, jqXHR) {
                        console.log(data)
                        console.log(textStatus)
                        console.log(jqXHR)
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    },
                    async: false
                })
            }
            
           
        });
    }

        $('#btnCreatePizza').click(function () {
            createPizza();
          
        });

    

</script>
